/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
a {
   display:inline-block;
}
h1 {
    text-align: center;
}
.top-header {
    background-color: #699b72;
    color: #edf2ea;
    border-radius: 15px;
    position: relative;
}
header h1 {
    margin: 10px 20px 50px 20px;
    /*position: absolute;
    top: 8%;
    right: 30%;
    font-family: 'Mystery Quest', cursive;*/
}

.mi_master {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #96ceb2;
    font-family: 'Fondamento',cursive;
}
section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*article {
    /*width:46%;
        float:left;
        margin: 2%;*/
    /*flex-basis: 40%;
}*/
    section article {
        width: 30%;
        float: left;
        padding: 20px;
        box-sizing: border-box;
        flex-basis: 30%;
        border-style: groove;
        margin: 5px 0 5px 0;
        background-color: #86aa9e;
    }
article img {
    width: 90%;
    padding:5px 5px 5px 5px;
}
/*article header {
    border-style: groove;
}*/
.carta {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.divCarta {
    flex-basis: 40%;
    float:left;
}
.geoUl {
    list-style: none;
    /*font-size:10rem;*/
    text-align: center;
    clear: both;
    padding: 5px 0 0 0;
    margin: auto;
    width: 100%;
    height: 70px;
    border-style: groove;
    border-color: #77c6ac;
}
a img {
    width: 60px;
    height: 60px;
    
}
h5{
    text-align:right;
}
ul {
    display: inline-block;
}

li {
    display: inline-block;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #c9ead5;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
